Example/RoutingHTTPServer.xcodeproj/*
!project.pbxproj

*.xcuserstate

Framework/RoutingHTTPServer/RoutingHTTPServer.xcodeproj/xcuserdata/Coleman.xcuserdatad/xcschemes/xcschememanagement.plist

Carthage/*

Framework/RoutingHTTPServer/RoutingHTTPServer.xcodeproj/project.xcworkspace/xcuserdata/Coleman.xcuserdatad/UserInterfaceState.xcuserstate
